body{
    margin: 0;
    padding: 0;
    background-color: #C6D8D3;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.head{
    font-size: 8vw;
    margin-top: 10vw;
}
.game{
    height: 50vw;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}
.box{
    width: 16vw;
    height: 16vw;
    background-color: #FDF0D5;
    border: 0;
    border-radius: 1vw;
    font-size: 12vw;
    box-shadow: 0 0 0 0.3vw;
    color: black;
    

}
.reset{
    width: 15vw;
    height: 8vw;
    margin-top: 1.5vw;
    border: 0;
    border-radius: 1vw;
    background-color: #3A3335;
    color :#FDF0D5;
    font-size: 3.5vw;
    
    
}
.result{
    font-size: 7vw;
    display: none;
    height: 50vw;
    width: 90vw;
   
}
.restart{
    margin-left: 30vw;
    margin-top: 10vw;
    width: 30vw;
}